<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>ESTUDIANTE</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<h1>Ingresar Estudiante</h1>
	<form th:action="@{/formEstudiante}" th:object="${estudiante}" method="post">
			<label>Nombre :</label><br>
			<input type="text" th:field="*{nombre}"><br>
			<span th:errors="*{nombre}" style="color : #E81505"></span><br>
			
			<label>Apellido:</label><br>
			<input type="text" th:field="*{apellido}"><br>
			<span th:errors="*{apellido}" style="color : #E81505"></span><br>
			
			<label>Carne:</label><br>
			<input type="number" th:field="*{carne}"><br>
			<span th:errors="*{carne}" style="color : #E81505"></span><br>
			
			<label>Carrera:</label><br>
			<input type="text" th:field="*{carrera}"><br>
			<span th:errors="*{carrera}" style="color : #E81505"></span><br><br>
		
		<input type="submit" value="Agregar estudiante">
	</form>
	<br>
	<form th:action="@{/borrarEstudiante}" method = "post">
	<label>Borrar codigo por estudiante</label> <input type="number" name= "c_usuario">
	<br>
	<input type="submit" value="Borrar">
	<br>
	</form>
	<br>
	
	<form th:action="@{/filtrar}" method = "post">
	<label>Cadena por la que que se desea filtar</label> 
	<input type="text" name= "nombre">
	<br>
	<input type="submit" value="Filtrar">
	<br>
	</form>
	<br>
	
	<form th:action="@{/editar}" method = "post">
	<label>Editar estudiante</label> 
	<input type="number" name= "c_usuario">
	<br>
	<input type="submit" value="Editar">
	<br>
	</form>
	<br>
	
	<button><a href="/listado">Ver todos los estudiantes</a></button>
</body>
</html>